/* app css stylesheet */

.menu {
	list-style: none;
	border-bottom: 0.1em solid black;
	margin-bottom: 2em;
	padding: 0 0 0.5em;
}

.menu:before {
	content: "[";
}

.menu:after {
	content: "]";
}

.menu > li {
	display: inline;
}

.menu > li:before {
	content: "|";
	padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
	content: "";
	padding: 0;
}

.alert-white {
	background-color: #ffffff;
	margin-right: 0px;
	border-color: #000000;
	border-style: groove;
	min-height:460px
	
}
.close-margin {
	margin-right: 30px;
}

.form{
	display: inline;
}
.addfavorite {
	float: right;
}

.box {
	position: relative;
    flex-grow:1;
    flex-basis: 0;

	min-height: 95%;
}
.favorite {
	display: block;
	width: 85%;
	margin: 0 auto; 

	bottom: 0;
}

.flex-buttons {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}
.close-button {
	width: 2rem;
}



.dialog-toolbar {
	background-color: darkgrey;
}


.list {
  display: flex;
  flex-wrap: wrap;
  min-height: 460px;
  line-height: 1.4;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 25%;
  }
}

.list-item {
  display: flex; 
  padding: 0.5em;
  
}

.list-content {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   padding: 0.5em;
   width: 100%;
   line-height: 1.4;
}
.list-content p {
  flex: 1 0 auto;
}

.select {
  float: right;
}

/*
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.dialogdemoBasicUsage .debt-be-gone {
  font-weight: bold;
  color: grey;
  text-decoration: underline; }
.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }
.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }
*/