<div   class=" container">


  <div class="row panel" id="inputRow">
      <form ng-submit="main.addVideo()" class="form">
        <input id="link-taker" type="text" name="input" ng-model="main.ytUrl" ng-trim="false" placeholder=""></input>
        <md-button id="submit"  type="submit" value="Add" >Dodaj</md-button>
      </form>
      <md-button class="addfavorite right "  
                 ng-class="{'favorite-button': main.isActive}"
                 ng-click="main.filterFavorites();">Ulubione</md-button>
  </div>
  <!-- <button ng-click="cleare()">clear</button> -->

  <div  display-gallery="" 
        class="row jumbotron" id="gallery" 
        yt-url-ids="main.ytUrlIds"
        yt-url="main.ytUrl"
        current-video-page="main.currentVideoPage"
        remove-action= "main.removeAction"
        show-favorite= "main.showFavorite"
        filter-favorites="main.filterFavorites"
        boxPerPage="main.boxPerPage"

        >
  </div>
  
  <div class="row" id="pagination">
    <ul class="pager">
      <li ><a href="" id="dec-butt" ng-click="main.decrementPage()" >Poprzednia strona</a></li>
      <li><a href="" id="inc-butt" ng-click="main.incrementPage()" >Następna strona</a></li>
    </ul> 

  </div> 
  
  <pager total-items="pagesAmount" ng-model="main.currentPage"></pager>
</div>